@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.special-font{
  font-family: 'Fredoka One', cursive;
}

.vh100{
  height: 100vh;
}

.my-grey{
  background-color: rgb(46, 44, 44);
}

@keyframes rainbow{
  0% {color: red}
  15% {color: orange;}
  30% {color: yellow;}
  38% {color: rgb(187, 255, 0);}
  45% {color: lime}
  60% {color: blue}
  75% {color: darkviolet}
  90% {color: deeppink;}
  100% {color: red;}
}

.like{
  transition: 0.5s;
  cursor: pointer;
}

.like:hover{
  animation-name: rainbow;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  transform: scale(1.1);
}

.bodyImg{
  max-height: 450px;
}


.btn-col{
  height: 6%;
}

.post-area{
  height: 20%;
}

.my-overflow{
  height: 80%;
  overflow-y: scroll;
}

.my-overflow::-webkit-scrollbar{
  display: none;
}

#postbody{
  width: 95%;
}

#postbutton{
  height: 34px;
  padding: 4px 6px;
  margin-bottom: 3px;
}

#WHAT{
  height: 99%;
}